<nav class="navbar">
  <div class="navbar-brand">Admin-Dashboard</div>
  <ul class="navbar-nav">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin/locations" routerLinkActive="active">Locations</a>
    </li>
    <li>
      <a routerLink="/admin/room-types" routerLinkActive="active">Room Types</a>
    </li>
    <li>
      <a routerLink="/admin/rooms" routerLinkActive="active">Rooms</a>
    </li>
    <li>
      <a routerLink="/admin/booking-management" routerLinkActive="active">Booking Management</a>
    </li>
    <li>
      <a routerLink="/admin/user-management" routerLinkActive="active">User Management</a>
    </li>
    <li>
      <a routerLink="/admin/hotel-management" routerLinkActive="active">Hotel Management</a>
    </li>
    <li>
      <a (click)="logout()" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>
