<nav class="navbar">
  <div class="navbar-brand">User-Dashboard</div>
  <ul class="navbar-nav">
    <li>
      <a routerLink="/user/dashboard" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/user/room-booking-ai-agent" routerLinkActive="active">Room-Booking-AI-Agent</a>
    </li>
    <li>
      <a routerLink="/user/booking-management" routerLinkActive="active">Booking Management</a>
    </li>
    <li>
      <a (click)="logout()" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>
